.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.inputContainer {
    position: relative;
    display: flex;
}

.input {
    padding: 12px 35px;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    width: 100%;
}

.input::placeholder {
    color: var(--placeholder-text);
}

.helperText {
    color: var(--primary-text);
    font-size: 12px;
    font-weight: 600;
    height: 16px;
}

.iconLeft {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
}

.iconRight {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
}
