.button {
    padding: 10px 107px;
    border-radius: 15px;
    border: none;
}

.primary {
    background-color: var(--btn-primary-bg);
    color: var(--secondary-text);
    font-size: 16px;
}

.ghost {
    color: var(--bth-warning-text);
    background-color: var(--btn-secondary-bg);
}

.disabled {
    &.primary {
        color: var(--secondary-text);
    }

    &.ghost {
        background-color: var(--btn-secondary-bg);
    }
}

.full-width {
    width: 100%
}
